<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles.css">
  <title>Timestamp</title>
</head>

<body>
  <header>
    <h1>Timestamp Microservice</h1>
  </header>

  <main>
    <section>
      <h2>Example Usage:</h2>
      <p>
        <a href="/api/2015-12-25" target="_blank">[project_url]/api/2015-12-25</a>
      </p>
      <p>
        <a href="/api/1657884547301" target="_blank">[project_url]/api/1657884547301</a>
      </p>
    </section>

    <section>
      <h2>Example Output</h2>
      <code>{"unix":1657884547301, "utc":"Fri, 15 Jul 2022 11:29:07 GMT"}</code>
    </section>
  </main>

  <footer>
    <p>
      Made with 💙 By
      <a href="https://github.com/DiogoJorge1401" target="_blank">
        Diogo Jorge
      </a>
    </p>
  </footer>
</body>

</html>